.systemic-process {
  padding: var(--indent) 0;

  &__title {
    margin-bottom: var(--indent-title);
  }

  &__swiper {
    overflow: visible;
    padding-bottom: 50px;

    -webkit-overflow-scrolling: touch;
    touch-action: pan-y pinch-zoom;

    @include md {
      padding-bottom: 30px;
    }

    @include xs {
      padding-bottom: 20px;
    }
  }

  .swiper-scrollbar {
    bottom: 0;
  }

  &__slide {
    max-width: 388px;
    transform: translateZ(0);
    backface-visibility: hidden;

    &:nth-child(3n + 2) {
      .systemic-process__item {
        background-color: var(--default-color);
      }
    }

    &:nth-child(3n) {
      .systemic-process__item {
        background-color: var(--primary);
      }
    }

    @include lg {
      max-width: 320px;
    }

    @include xs {
      max-width: 260px;
    }
  }

  &__item {
    position: relative;
    display: block;
    padding-bottom: calc(600/388*100%);

    @include lg {
      padding-bottom: 150%;
    }
  }

  &__item-inner {
    position: absolute;
    padding: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    @include lg {
      padding: 20px;

      br {
        display: none;
      }
    }
  }

  &__item-title {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 34px;
    line-height: 124%;
    margin-bottom: auto;

    @include xl {
      font-size: 30px;
    }

    @include lg {
      font-size: 22px;
    }
  }

  &__item-info {
    display: grid;
    gap: 26px;

    @include lg {
        gap: 10px;
    }
  }

  &__item-text {
    margin-top: 10px;
  }


  &__btn {
    max-width: 400px;
    margin: 40px auto 0;

    @include xl {
      margin-top: 30px;
    }

    @include md {
      margin-top: 20px;
    }
  }


}